body{
  background: #6F6A9A 
}
p {
  font-size: 20px;
  margin: 10px;

}
.header{
  margin-left: 20px;
  font-size: 25px;
}
li{
  padding: 8px;
  font-size: 15px;
}
#imgs{
  margin: 20px;
}
#left{
  display: block;
  margin-left: 5%;
  width: 50%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
section{
  padding: 10px;
  box-sizing: border-box;
}
#pill{
  margin: 20px;
}
